<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cse.haste.repository.EvaluatorRepository">

    <sql id="cse_evaluator_column">
        id, status, user_id, user_name, evaluation_plan_id, evaluation_plan_name, evaluation_group_id, evaluation_group_name
    </sql>

    <resultMap id="evaluatorMap" type="com.cse.haste.model.pojo.Evaluator">
        <id column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <association column="user_id" property="user" fetchType="lazy"
                     javaType="com.cse.haste.model.pojo.User"
                     select="com.cse.haste.repository.UserRepository.findOneById">
            <id column="id" property="id"/>
        </association>
    </resultMap>

    <!-- 保存 -->
    <insert id="save" parameterType="evaluator" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO cse_evaluator(object_id, status, create_at, update_at, user_id, user_name, evaluation_plan_id, evaluation_plan_name, evaluation_group_id, evaluation_group_name)
        VALUES(#{objectId}, #{status}, NOW(), NOW(), #{user.id}, #{user.name}, #{evaluationPlan.id}, #{evaluationPlan.name}, #{evaluationGroup.id}, #{evaluationGroup.name})
    </insert>

    <!-- 删除 -->
    <update id="delete" parameterType="int">
        UPDATE cse_evaluator SET status = 0, update_at = NOW() WHERE id = #{id}
    </update>

    <!-- 根据考核评价工作组查询评价者 -->
    <select id="findAllByEvaluationGroupId" parameterType="int" resultMap="evaluatorMap">
        SELECT <include refid="cse_evaluator_column"/> FROM cse_evaluator WHERE status = 1 AND evaluation_group_id = #{evaluationGroupId}
    </select>

</mapper>