<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cse.haste.repository.LeadershipScoreFormRepository">

    <sql id="cse_leadership_score_form_column">
        id, status, type, complete, complete_at, politics_quality_1, politics_quality_2, politics_quality_3,
        operate_performance_1, operate_performance_2, operate_performance_3, operate_performance_4,
        teamwork_1, teamwork_2, teamwork_3, style_and_image_1, style_and_image_2, style_and_image_3,
        evaluation_group_id, evaluation_group_name, evaluator_id, evaluator_name, evaluatee_id, evaluatee_name
    </sql>

    <!-- 保存 -->
    <insert id="save" parameterType="leadershipScoreForm" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO cse_leadership_score_form(object_id, status, create_at, update_at, type, complete, complete_at,
            politics_quality_1, politics_quality_2, politics_quality_3,
            operate_performance_1, operate_performance_2, operate_performance_3, operate_performance_4,
            teamwork_1, teamwork_2, teamwork_3, style_and_image_1, style_and_image_2, style_and_image_3,
            evaluation_group_id, evaluation_group_name, evaluator_id, evaluator_name, evaluatee_id, evaluatee_name)
        VALUES(#{objectId}, #{status}, NOW(), NOW(), #{type}, #{complete}, #{completeAt},
            #{politicsQuality1}, #{politicsQuality2}, #{politicsQuality3}, #{operatePerformance1}, #{operatePerformance2},
            #{operatePerformance3}, #{operatePerformance4}, #{teamwork1}, #{teamwork2},
            #{teamwork3}, #{styleAndImage1}, #{styleAndImage2}, #{styleAndImage3},
            #{evaluationGroup.id}, #{evaluationGroup.name}, #{evaluator.id}, #{evaluator.userName}, #{evaluatee.id}, #{evaluatee.userName})
    </insert>

    <!-- 删除 -->
    <update id="delete" parameterType="int">
        UPDATE cse_leadership_score_form SET status = 0, update_at = NOW() WHERE id = #{id}
    </update>

    <!-- 更新 -->
    <update id="update" parameterType="leadershipScoreForm">
        UPDATE cse_leadership_score_form
        <set>
            <if test="complete != null">complete = #{complete},</if>
            <if test="completeAt != null">complete_at = #{completeAt},</if>
            <if test="politicsQuality1 != null">politics_quality_1 = #{politicsQuality1},</if>
            <if test="politicsQuality2 != null">politics_quality_2 = #{politicsQuality2},</if>
            <if test="politicsQuality3 != null">politics_quality_3 = #{politicsQuality3},</if>
            <if test="operatePerformance1 != null">operate_performance_1 = #{operatePerformance1},</if>
            <if test="operatePerformance2 != null">operate_performance_2 = #{operatePerformance2},</if>
            <if test="operatePerformance3 != null">operate_performance_3 = #{operatePerformance3},</if>
            <if test="operatePerformance4 != null">operate_performance_4 = #{operatePerformance4},</if>
            <if test="teamwork1 != null">teamwork_1 = #{teamwork1},</if>
            <if test="teamwork2 != null">teamwork_2 = #{teamwork2},</if>
            <if test="teamwork3 != null">teamwork_3 = #{teamwork3},</if>
            <if test="styleAndImage1 != null">style_and_image_1 = #{styleAndImage1},</if>
            <if test="styleAndImage2 != null">style_and_image_2 = #{styleAndImage2},</if>
            <if test="styleAndImage3 != null">style_and_image_3 = #{styleAndImage3},</if>
            update_at = NOW()
        </set>
        WHERE id = #{id}
    </update>

    <update id="updateEvaluationGroupNameByEvaluationGroupId" parameterType="evaluationGroup">
        UPDATE cse_leadership_score_form
        SET evaluation_group_name = #{name}
        where evaluation_group_id = #{id}
    </update>

    <select id="findOneById" parameterType="int" resultType="leadershipScoreForm">
        SELECT
        <include refid="cse_leadership_score_form_column"/>
        FROM cse_leadership_score_form WHERE status = 1 AND id = #{id}
    </select>

    <select id="findAllByEvaluationGroupId" parameterType="int" resultType="leadershipScoreForm">
        SELECT
        <include refid="cse_leadership_score_form_column"/>
        FROM cse_leadership_score_form WHERE status = 1 AND evaluation_group_id = #{evaluationGroupId}
    </select>

    <select id="findAllByEvaluatorId" parameterType="int" resultType="leadershipScoreForm">
        SELECT
        <include refid="cse_leadership_score_form_column"/>
        FROM cse_leadership_score_form WHERE status = 1 AND evaluator_id = #{evaluatorId}
    </select>

    <select id="findAllByEvaluationGroupIdAndComplete" resultType="leadershipScoreForm">
        SELECT
        <include refid="cse_leadership_score_form_column"/>
        FROM cse_leadership_score_form WHERE status = 1 AND evaluation_group_id = #{evaluationGroupId}
        AND complete = #{complete}
    </select>

    <select id="findAllByEvaluationGroupIdAndEvaluatorId" resultType="leadershipScoreForm">
        SELECT
        <include refid="cse_leadership_score_form_column"/>
        FROM cse_leadership_score_form WHERE status = 1 AND evaluation_group_id = #{evaluationGroupId}
        AND evaluator_id = #{evaluatorId}
    </select>

    <select id="findAllByEvaluationGroupIdAndEvaluateeId" resultType="leadershipScoreForm">
        SELECT
        <include refid="cse_leadership_score_form_column"/>
        FROM cse_leadership_score_form WHERE status = 1 AND evaluation_group_id = #{evaluationGroupId}
        AND evaluatee_id = #{evaluateeId}
    </select>

</mapper>